<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Testing task</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            {{#if isHome}}
                <a class="nav-link active" aria-current="page" href="/">Canvas</a>
            {{else}}
                <a class="nav-link" href="/">Canvas</a>
            {{/if}}
        </li>
        <li class="nav-item">
             {{#if isUser}}
                <a class="nav-link active" aria-current="page" href="/users">Users</a>
             {{else}}   
                <a class="nav-link" href="/users">Users</a>
            {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
