<h1>{{title}}</h1>
<div class="d-flex justify-content-center flex-column">
    <canvas width="600" height="600" id="canvStar" class="mt-5" style="border:1px solid red"></canvas>
    <canvas width="600" height="50" id="canvEnd" class="mt-3"></canvas>
</div>


<script>
    const btn = document.getElementById('btn');
    const canvas = document.getElementById('canvStar')
    const cavEnd = document.getElementById('canvEnd')

    const ctx = canvas.getContext('2d');
    ctx.fillStyle = '#ffffff';
    ctx.fillRect(0, 0, 600, 600);

    const ctx_end = cavEnd.getContext('2d');


    ctx.save();
    ctx.translate(0, 150);
    let colors=['red', 'blue' ,'green' ,' yellow', 'black'];
    ctx.translate(75, 0);
    let x=50;
    for(let color of colors){
        ctx.fillStyle = color;
        drawStar(x,50,5,30,15, color);
        x+=80;
    }


    function drawStar(cx,cy,spikes,outerRadius,innerRadius, c){
        let rot=Math.PI/2*3;
        let x=cx;
        let y=cy;
        let step=Math.PI/spikes;

        ctx.beginPath();
        ctx.moveTo(cx,cy-outerRadius)
        for(i=0;i<spikes;i++){
            x=cx+Math.cos(rot)*outerRadius;
            y=cy+Math.sin(rot)*outerRadius;
            ctx.lineTo(x,y)
            rot+=step

            x=cx+Math.cos(rot)*innerRadius;
            y=cy+Math.sin(rot)*innerRadius;
            ctx.lineTo(x,y)
            rot+=step
        }
        ctx.lineTo(cx,cy-outerRadius);
        ctx.closePath();
        ctx.lineWidth=5;
        ctx.strokeStyle=c;
        ctx.stroke();
        ctx.fillStyle=c;
        ctx.fill();
    }

    let X = 0;
    let Y = 0;
    canvas.onclick = (e)=>{
        console.log(e);
        X = e.pageX-9//- e.layerX
        Y = e.pageY-68//- e.layerY //- document.body.scrollTop + document.documentElement.scrollTop - canvas.offsetTop;
        const pixel = ctx.getImageData(X, Y, 1, 1);
        const red=pixel.data[0];
        const green=pixel.data[1];
        const blue=pixel.data[2];
        const alpha=pixel.data[3];
        const color=`rgba(${red},${green},${blue},${alpha})`;
        console.log(X,Y);
        ctx_end.fillStyle = color;
        ctx_end.fillRect(0, 0, 600, 50);
    }


</script>