<h1>{{title}}</h1>

<div class="container">
    <div class="d-flex justify-content-end my-3">
        <button type="button" class="btn btn-primary" id="openModal" data-bs-toggle="modal"
                data-bs-target="#addUserModal">Добавить пользователя
        </button>
    </div>
    <table class="table table-hover display">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tablebody"></tbody>
    </table>
    <!-- Modal add user -->
    <div class="modal fade " id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Добавлене пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div></div>
                    <div class="mb-3">
                        <label for="inputNameUser" class="form-label">Имя пользвателя</label>
                        <input class="form-control" type="text" placeholder="Введите имя" id="inputNameUser">
                    </div>
                    <div class="mb-3">
                        <label for="inputPhoneUser" class="form-label">Номер телефона</label>
                        <input class="form-control" type="text" placeholder="Введите номер телефона"
                               id="inputPhoneUser">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="BtnAddUser">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal add user -->
    <div class="modal fade " id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Обновление пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputNameUserEdit" class="form-label">Имя пользвателя</label>
                        <input class="form-control" type="text" placeholder="Введите имя" id="inputNameUserEdit">
                    </div>
                    <div class="mb-3">
                        <label for="inputPhoneUserEdit" class="form-label">Номер телефона</label>
                        <input class="form-control" type="text" placeholder="Введите номер телефона"
                               id="inputPhoneUserEdit">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="BtnEditUser">Обновить</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="module">
    /***
     * users - пользователи
     *
     */

    let users = [
        {id: 1, name: 'alan', phone: +7777777777},
        {id: 2, name: 'alan2', phone: +7777777771},
        {id: 3, name: 'alan3', phone: +7777777772},
        {id: 4, name: 'alan4', phone: +7777777773},
        {id: 5, name: 'alan5', phone: +7777777775},
    ];
    /***
     * кнопки
     * BtnAddUser - добалвение пользвоателя
     * openModal - открытие модального окна добавлиня пользователя
     * @type {HTMLElement}
     */
    let BtnAddUser = document.getElementById('BtnAddUser');
    let openModal = document.getElementById('openModal');
    /***
     * Создание таблицы пользователей
     * @param usersArr - массив пользователей
     */
    const createTable = (usersArr) => {
        let tablebody = document.getElementById('tablebody')
        tablebody.innerHTML = '';
        for (let user of usersArr) {
            let tr = document.createElement('tr')
            //tr.className = ""
            let tdName = document.createElement('td');
            let tdPhone = document.createElement('td');
            let tdEvent = document.createElement('td');

            tdName.innerHTML = user.name;
            tdPhone.innerHTML = user.phone;
            let edit = document.createElement('span');
            edit.setAttribute('data-bs-toggle', 'modal');
            edit.setAttribute('data-bs-target', '#editUserModal');
            edit.className = "material-icons btn btn-warning";
            edit.innerHTML = "edit";
            edit.onclick = () => {
                editUser(user)
            };

            let del = document.createElement('span');
            del.className = "material-icons btn btn-danger ml-3";
            del.innerHTML = "delete";
            del.onclick = () => {
                delUser(user)
            };

            tdEvent.appendChild(edit);
            tdEvent.appendChild(del);
            tr.appendChild(tdName);
            tr.appendChild(tdPhone);
            tr.appendChild(tdEvent);
            tablebody.appendChild(tr)
        }
    }
    /***
     * редактирование пользователя
     * @param user - пользователь
     */
    const editUser = (user) => {
        let inputNameUserEdit = document.getElementById('inputNameUserEdit');
        let inputPhoneUserEdit = document.getElementById('inputPhoneUserEdit');
        let BtnEditUser = document.getElementById('BtnEditUser')
        inputNameUserEdit.value = user.name;
        inputPhoneUserEdit.value = user.phone;
        console.log(user)
        BtnEditUser.onclick = () => {
            let ind = users.findIndex(item => item.id === user.id);
            users[ind].name = inputNameUserEdit.value;
            users[ind].phone = inputPhoneUserEdit.value;
            createTable(users)
            hideModal("#editUserModal")
        }
    };
    /***
     * Создание алерта
     * @param text - текст сообщения
     */
    const createAlert = (text) => {
        let modalBody = document.querySelector('.modal-body>div:first-child');
        let alert = document.createElement('div');
        alert.className = 'alert alert-warning alert-dismissible fade show';
        alert.setAttribute('role', 'alert');
        let p = document.createElement('p');
        p.innerHTML = text;
        //<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        let btn = document.createElement('button');
        btn.setAttribute('type', 'button');
        btn.setAttribute('data-bs-dismiss', 'alert');
        btn.setAttribute('aria-label', 'Close');
        btn.className = 'btn-close';
        alert.appendChild(p)
        alert.appendChild(btn);
        modalBody.appendChild(alert);

    }
    /***
     * Удаление пользваотеля
     * @param user - пользователь
     */
    const delUser = (user) => {
        if (confirm('Вы уверены что хотите удалить пользователя?')) {
            let ind = users.findIndex(item => item.id === user.id);
            users.splice(ind, 1);
            createTable(users)
        }
    }


    /***
     * обработка клика добавления пользователя
     */
    BtnAddUser.onclick = () => {
        let alertModal = document.querySelector('.alert');
        if(alertModal !== null){
            alertModal.remove();
        }
        let user = {}
        if (inputNameUser.value !== '') {
            if (phoneChecking(inputPhoneUser.value)) {
                user = {
                    id: users.length + 1,
                    name: inputNameUser.value,
                    phone: inputPhoneUser.value,
                }
                users.unshift(user);
                createTable(users)
                hideModal("#addUserModal")
            }
        } else {
            createAlert('Введите имя пользователя')
        }

    }
    /**
     * обработка клика открытия модльного окна
     */
    openModal.onclick = () => {
        let alertModal = document.querySelector('.alert');
        if(alertModal !== null){
            alertModal.remove();
        }
        inputNameUser.value = ''
        inputPhoneUser.value = ''
    }
    /**
     * функция проверки телефона на валидность
     * @param phone телефон
     * @returns {boolean|void}
     */
    const phoneChecking = (phone) => {
        let reg = /[0-9|-]/
        let reg2 = /[0-9|+]/
        if (phone !== '') {
            let arr = phone.split('')
            if((arr.length > 10) && (arr.length > 12)){
                if (reg2.test(arr[0])){
                    for (let i = 1; i < arr.length; i++) {
                        if (!reg.test(arr[i])) {
                            return  createAlert('Данный символ не домустим можно только цыфры с ')
                        }
                    }
                    return true
                } else createAlert('Первый символ может быть либо + или цыфра ')
            } else createAlert('Номер должен быть больше 10 символов и меньше 12')

        } else createAlert('Проверьте правильность ввода номера')
    }
    /**
     * скрытие модального окна
     * @param modal
     */
    const hideModal = (modal) => {
        $(modal).modal('hide');
        $(modal).on('hidden.bs.modal', function (e) {
            $('.modal-backdrop').hide();
        });
    }

    /**
     * старт
     */
    createTable(users)

</script>